* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

a {
    text-decoration: none;
}

.banner {
    height: 300px;
    width: 100%;
    margin-top: 20px;
}

.center {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear {
    clear: both;
}

header {
    padding: 10px 0;
}

header>.center {
    display: flex;
}

#logo {
    width: 100px;
    height: 50px;
}

#pesquisar {
    width: 30px;
    height: 30px;
}

#psq {
    height: 30px;
    width: 80%;
    border-radius: 5px solid;
}

.logo {
    color: white;
    font-size: 21px;
    width: 50%;
}

.menu {
    text-align: right;
    width: 50%;
    margin-top: 10px;
}

.pequisar {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 20px;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    margin-right: 10px;
    font-size: 15px;
    display: inline-block;
}

.menu a {
    color: black;
}

section.texto-chamada {
    background: #06a7e7;
    padding: 30px 0;
    text-align: center;
    color: white;
}

section.texto-chamada i {
    font-size: 40px;
}

section.texto-chamada h2,
section.texto-chamada h3 {
    font-weight: normal;
}

section.texto-chamada h2>b {
    color: rgb(221, 49, 19);
}

section.loja {
    /* padding: 30px 0; */
}

section.loja>.center {
    display: flex;
    flex-wrap: wrap;
}

.logo-curso {
    width: 33.3%;
    padding: 5%;
}

.caixa-individual-loja {
    height: 100%;
    border: 1px solid rgb(225, 225, 225);
}

.caixa-individual-loja img {
    max-width: 100%;
}

.caixa-individual-loja h2 {
    text-align: center;
    padding: 0 8px;
    font-weight: normal;
}

.caixa-individual-loja p {
    padding: 15px 8px;
    font-size: 15px;
    color: rgb(10, 10, 10);
}

.logo-curso a {
    color: white;
    background: #088108;
    padding: 10px 8px;
    text-align: center;
    display: block;
    width: 100%;
}

section.novidades {
    padding: 5% 0;
}


/*Classes Auxiliares*/

.text-right {
    text-align: right;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.Largura60 {
    width: 60%;
    float: left;
}

.largura50 {
    float: left;
    width: 50%;
    padding: 0 15px;
}

.largura50 h1 {
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: normal;
    color: #4b4b4b;
}

.caixa-individual-noticia {
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
}

.caixa-individual-noticia h2 {
    font-size: 21px;
    font-weight: bold;
    color: rgb(100, 100, 100);
}

.caixa-individual-noticia p {
    font-size: 16px;
    font-weight: normal;
    color: rgb(110, 110, 110);
}

.depoimentos ul {
    list-style-position: inside;
}

.depoimentos li {
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(110, 110, 110);
}

section.contato {
    min-height: 600px;
    /* padding: 30px 0; */
}

section.contato .largura50,
section.contato .Largura100 {
    padding: 0 10px;
}

.formulario form {
    margin-top: 10px;
}

.formulario h2 {
    background: #DDDDDD;
    text-align: center;
    color: #036288;
    font-size: 17px;
    font-weight: normal;
    border-left: 5px solid #CCCCCC;
    padding: 4px 0;
}

.formulario input[type=text],
.formulario input[type=email] {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding-left: 8px;
}

.formulario textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 10px;
    resize: vertical;
}

.btn-form h2 {
    font-weight: normal;
}

.btn-form p {
    font-weight: lighter;
}

.btn-form p.btn-contato {
    color: white;
    background: #036288;
    text-align: center;
    margin-top: 6px;
    padding: 8px 4px;
}

.largura50,
.Largura60,
.Largura100 {
    width: 100%;
    margin-bottom: 20px;
}

footer {
    padding: 20px 0;
    background: #036288;
    color: white;
}

@media screen and (max-width: 768px) {
    .logo-curso {
        width: 100%;
        max-width: 500px;
        padding: 20px;
        margin: 30px auto;
    }
    .largura50 {
        width: 100%;
        margin-bottom: 30px;
    }

    a.nav-link {
        margin-left: 3%;
    }
    
    form.form-inline.center {
        padding-top: 2%;
    }
}

@media screen and (max-width: 1280px) {
    section.contato {
        min-height: 0px;
    }

}

@media screen and (max-width: 768px) {
    .btn-form {
        padding-left: 0px;
    }
    .formulario input[type=text],
    .formulario input[type=email] {
        margin-bottom: 0px;
    }
    .formulario textarea {
        margin-bottom: 0;
    }

    a.nav-link {
        margin-left: 3%;
    }
    
    form.form-inline.center {
        padding-top: 2%;
    }
}

#logo{
    width: 120px;
    height: 50px
}

img.banner.img-fluid {
    padding-left: 5%;
    padding-right: 5%;
}